[Unit]
Description=Hubot instance daemon
After=network.target

[Service]
EnvironmentFile=/opt/hubot/hubot.env
ExecStart=/opt/hubot/bin/hubot_systemctl --name stanley --adapter slack --alias !
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
